!!!
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    = css 'layout'
    = js 'jquery'
    = js 'jquery.timers'
    = js 'jquery.corner'
    = js 'jquery.scrollTo'
    = js 'chat'
    %title
      = title
  %body
    = js do
      jQuery(document).ready(function() { initUI(); });
    %h3
      = title
    #main_area{:style => 'display:none;'}
      = yield
